<h2>Documents</h2>
<ul>
  <% @files.each do |file| %>
    <li>
      <a href="/documents/<%= file %>"><%= file %></a> | 
      <a href="/documents/<%= file %>/edit">edit</a>
      <form class="inline" method="post" action="/documents/<%= file %>/duplicate">
        <button type="submit">Duplicate</button>
      </form>
      <form  class="inline" method="post" action="/documents/<%= file %>/delete">
        <button type="submit">Delete</button>
      </form>
    </li>
  <% end %>
</ul>

<p><a href="/documents/new">New Document</a></p>

<h2>Images</h2>

<ul>
  <% @images.each do |image| %>
    <li>
      <a href="/images/<%= image %>"><%= image %></a>
      <form class="inline" method="post" action="/images/<%= image %>/delete">
        <button type="submit">Delete</button>
      </form>
    </li>
  <% end %>
</ul>

<p><a href="/images/new">Add Image</a></p>

<% if session[:username] %>
  <form class="inline" method="post" action="/users/signout">
    <p class="user-status">Signed in as <%= session[:username] %>.
    <button type="submit">Sign Out</button>
    </p>
  </form>
<% else %>
  <p class="user-status"><a href="/users/signin">Sign In</a></p>
<% end %>
<a class="user-status" href="/users/signup"><em>Sign Up</em></a>

<% if session[:username] %>
  <br><br><br><br><br>
  <a href="/users/<%= session[:username] %>/delete">Delete user?</a>
<% end %>